.wrapper {
  display: flex;
  flex-direction: column;
}

.input_wrapper {
  display: flex;
  flex-direction: row;
}

.input_wrapper_blur {
  border-bottom: 2px solid #C8C8CC
}

.input_wrapper_focus {
  border-bottom: 2px solid #C8C8CC
}

.input_wrapper_error {
  border-bottom: 2px solid #FF0000
}

input {
  border-style: none;
  outline: none;
  font-size: 14px;
  height: 19px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 14px;
  margin-bottom: 8px;
}

.pre_post_fix {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.pre_post_fix_font_color_before {
  color: #C8C8CC
}

.pre_post_fix_font_color_after {
  color: #1D1D26
}

.err_msg_wrapper {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.err_msg {
  font-size: 12px;
  color: #FF0000;
}
